body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    background: 
        linear-gradient(#f1e345,#e5e362) center right / 30%   70px, 
        linear-gradient(#3aba33,#2f9725) bottom left  / 40%   70px,
        linear-gradient(#74fd7b,#2bc547) top left     / 30%   70px,
        linear-gradient(#fff643,#ebf67a) top left     / 60%   70px,
        linear-gradient(#5289ff,#2979f9) top left     / 100%  70px,
        linear-gradient(150deg, rgb(0, 21, 255)15%, #3cb151 55%, #fff718 94%);
    background-repeat:no-repeat;
}
h1, h2 {
    color: #004d00;
}
#title{
    padding: 5px;
    background-color:white;
    border-radius: 10px;
    margin: 20px 450px;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #004d00;
    color: white;
}
td {
    background-color: #f9f9f9;
}
input[type="text"], input[type="email"], input[type="number"], select {
    padding: 8px;
    width: 70%;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button[type="submit"] {
    background-color: #0080ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #0099ff;
}
button[type="reset"] {
    background-color: #707070;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="reset"]:hover {
    background-color: #989898;
}
.form-container {
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
}
form label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}
form input, form select {
    display: inline-block;
}
.tabela-container {
    margin-top: 20px;
}